.center-container {
	background-color: cadetblue;
	background:rgba(255,255,255,0.5); /*adds transparency*/
	margin: auto;
	max-width: 75%;
	position: relative;
}

.content {
	max-width: 500px;
	margin: auto;
}

.dates {
	color: darkslategray;
	text-align: left;
	font-size: 15pt;
}
.description {
	color: black;
	text-align: justify;

	font-family: 'Karla', sans-serif;
	font-size: 12pt;
	padding-bottom: 10px;
}

/*video frames adjust to browser size*/
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}