.skillbox {
	background-color: grey;
	background:rgba(255,255,255,0.5);
	margin: auto;
	max-width: 100%;
	position: relative;
}

/*my font for paragraphs on the skills page*/
 .para {
  color: black;
   font-family: 'Karla', sans-serif;
   font-size: 13pt;
   padding-top: 10px;
   padding-bottom: 20px;
}